# Python

#### 1.Python Indentation
Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.
#### 2.print()
Print Texts inside of it.

#### 3.Variables in Python:
```python
x = 5
y = "Hello, World!"
```

In [8]:
#Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

x = y = z = "Orange"
print(x)
print(y)
print(z)

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

Orange
Banana
Cherry
Orange
Orange
Orange
apple
banana
cherry

- In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [11]:
x = 5
y = " John"
# print(x + y) error
print(str(x) + y)

5 John

#### Global Variables
Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

In [12]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [4]:
print("Hello, World!")

Hello, World!

#### 4.Built-in Data Types
Text Type:|	str
---|---
Numeric Types:|	int, float, complex
Sequence Types:|	list, tuple, range
Mapping Type:|	dict
Set Types:|	set, frozenset
Boolean Type:|	bool
Binary Types:|	bytes, bytearray, memoryview
None Type:|	NoneType


Example|Data Type	
---|---
x = "Hello World"|	str	
x = 20	|int	
x = 20.5	|float	
x = 1j	|complex	
x = ["apple", "banana", "cherry"]	|list	
x = ("apple", "banana", "cherry")	|tuple	
x = range(6)	|range	
x = {"name" : "John", "age" : 36}	|dict	
x = {"apple", "banana", "cherry"}	|set	
x = frozenset({"apple", "banana", "cherry"})	|frozenset	
x = True	|bool	
x = b"Hello"	|bytes	
x = bytearray(5)	|bytearray	
x = memoryview(bytes(5))	|memoryview	
x = None	|NoneType

#### 4.Casting
If you want to specify the data type of a variable, this can be done with casting.

In [5]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3

#### Get the Type
You can get the data type of a variable with the `type()` function.

In [6]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [1]:
#Function
#s is a default parameter
def sum(a,b,s=9):
    if(s==1):
        return a+b
    else:
        return 0
print(sum(3,4))

0

In [2]:
#assigning function to variable
def pro(a,b):
    return a*b
x=pro
x(3,4)

12

#
**TUPLES,DICTIONARIES,LISTS**

In [3]:
#Tuples are immutatble ,list are mutable
x=(1,'a',2,'3')
type(x)

tuple

In [22]:
x=[1,'a',2,'3']
type(x)

list

#
**lists** **operation**

In [23]:
#Append
print("Append:")
x.append(3.3)
print(x)
#print each element separated
print("print each element separated:")
for item in x:
    print(item)
#concatenate
print("concatenate:")
print([1,2]+[3,'l'])
#repeat appending same element
print("repeat appending same element:")
print([1] * 3)

Append:
[1, 'a', 2, '3', 3.3]
print each element separated:
1
a
2
3
3.3
concatenate:
[1, 2, 3, 'l']
repeat appending same element:
[1, 1, 1]

In [24]:
#in OPERATOR IN LIST returns true or false (boolean value)
print("in OPERATOR IN LIST returns true or false (boolean value):")
print(1 in [1,2,4])

in OPERATOR IN LIST returns true or false (boolean value):
True

In [25]:
#ALL STRING ARE LIST OF CHARACTERS SO SLICE WORKS FINE IN STRINGS:
s="hello"
print(s[0])
print(s[1:3])
print(s[:3])
print(s[3:])
print(s[-1])
print(s[-4:-2])

h
el
hel
lo
o
el

In [26]:
fname="Anannya"
lname=' Maitra'
fullname=fname+lname
print(fullname)
print(fname*3)

Anannya Maitra
AnannyaAnannyaAnannya

In [27]:
sentence='Anannya has a last name Maitra'
print(sentence.split(' ')[0]+' '+sentence.split(' ')[-1])

Anannya Maitra

#
**DICTIONARIES:** 
DICTIONARIES ARE LIKE HASHMAP

In [28]:
x={'Anannya':22,'Jack':3,'Simba':'4','Diya':'25'}
x['Anannya']
x['Jack']
x['Raima']=None
print(x['Raima'])

None

In [29]:
for name in x:
    print(x[name])
for name in x:
    print(name)

22
3
4
25
None
Anannya
Jack
Simba
Diya
Raima

In [30]:
for title in x.values():
    print(title)

22
3
4
25
None

In [31]:
for name,title in x.items():
    print(name)
    print(title)

Anannya
22
Jack
3
Simba
4
Diya
25
Raima
None

#
**TUPLES**

In [32]:
x=('Anannya','Maitra',22)
fname,lname,age=x

In [33]:
fname

'Anannya'

In [34]:
age

22

#
HOW TO PRINT **STRING** ALONG WITH **INTEGER**

In [35]:
y={'fname':'Anannya','lname':'Maitra','age':22}

In [36]:
statement="{} has a last name {} and she is {} years old"
print(statement.format(y['fname'],y['lname'],y['age']))

Anannya has a last name Maitra and she is 22 years old